{% extends 'steam/base1.html' %}
{% block title %}BilimALL AI{% endblock %}
{% block styles %}
<style>
    body, html {
      height: 100%;
      overflow: hidden;
    }

.container-wrapper {
    display: flex;
    height: 100vh; /* Толық экран биіктігі */
    padding: 10px;
    gap: 10px; /* Контейнерлар арасындағы қашықтық */
}

.chat-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 85vh; /* Биіктікті экранға сәйкестендіру */
}

.messages-box {
    flex-grow: 1; /* Барлық бос орынды алу */
    overflow-y: auto; /* Вертикалды скроллинг */
    padding: 10px;
    max-height: calc(85vh - 150px);
    scroll-behavior: smooth; /* Скроллингті тегіс ету */
}


    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 15px;
      list-style: none;
      display: flex;
      flex-direction: column;
    }

    .message-text {
      padding: 10px;
      border-radius: 5px;
      word-wrap: break-word;
      max-width: 90%;
    }

    .sent {
      background-color: #dcf8c6;
      align-self: flex-end;
    }

    .received {
      background-color: #f1f0f0;
      align-self: flex-start;
    }

.message-form {
    display: flex;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
    width: 100%;
    flex-shrink: 0; /* Форманы жоғалып кетуден сақтайды */
    position: sticky; /* Форманы төменде бекіту */
    bottom: 0; /* Форманы төменгі жақта бекіту */
}

.message-input {
    flex: 1;
    height: 40px;
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn-send {
    border-radius: 5px;
    font-size: 16px;
}

    .side-panel {
      flex: 1;
      margin-left: 15px;
      padding: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f8f9fa;
    }
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

.science-heading {
   font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Light */
  color: #212529; /* Қара түс */
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 8px;
  margin-bottom: 20px;
  font-size: 20px;
}
</style>
{% endblock %}

{% block content %}
<div class="container-wrapper">
  <div class="chat-container">
    <div class="card flex-grow-1">
      <div class="card-header bg-primary text-white">IPKO</div>
      <div class="card-body messages-box" id="messagesBox">
        <ul class="list-unstyled messages-list"></ul>
      </div>
    </div>
    <form class="message-form">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" name="topic" class="form-control message-input" placeholder="Кілттік сөз енгіз...">
        <div class="input-group-append">
          <button type="submit" class="btn btn-primary btn-send">Жіберу</button>
        </div>
      </div>
    </form>
  </div>


<div class="side-panel" style="height: 85vh; overflow-y: auto;">
    <h4 class="science-heading">🔬 Жаратылыстану бағытындағы кітаптар</h4>

<div style="max-height: 70vh; overflow-y: auto;"> <!-- скролл жасау -->
  <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <img src="https://i.pinimg.com/736x/13/06/24/1306243ab4f7b31de2249b941da51f49.jpg" alt="Информатика 5" style="width: 50px; height: auto; margin-right: 10px; border-radius: 5px;">
    <div>
      <div>Информатика</div>
      <a href="{% url 'informatika' %}" target="_blank" class="btn btn-sm btn-outline-primary mt-1">Кітапты ашу</a>
    </div>
  </div>
</div>
  <br>

  <div style="max-height: 70vh; overflow-y: auto;"> <!-- скролл жасау -->
  <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <img src="https://i.pinimg.com/736x/14/3b/34/143b3476a255a2836123900600f09163.jpg" alt="Математика" style="width: 50px; height: auto; margin-right: 10px; border-radius: 5px;">
    <div>
      <div>Математика</div>
      <a href="{% url 'matem' %}" target="_blank" class="btn btn-sm btn-outline-primary mt-1">Кітапты ашу</a>
    </div>
  </div>
    </div>
<br>
  <div style="max-height: 70vh; overflow-y: auto;"> <!-- скролл жасау -->
  <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <img src="https://i.pinimg.com/736x/ab/26/1d/ab261d55de66244a6b48339a5a1dec0d.jpg" alt="Биология" style="width: 50px; height: auto; margin-right: 10px; border-radius: 5px;">
    <div>
      <div>Биология</div>
      <a href="{% url 'biology' %}" target="_blank" class="btn btn-sm btn-outline-primary mt-1">Кітапты ашу</a>
    </div>
  </div>
    </div>
<br>
  <div style="max-height: 70vh; overflow-y: auto;"> <!-- скролл жасау -->
  <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <img src="https://i.pinimg.com/736x/e3/4a/79/e34a792ca476096c470018d6e238d622.jpg" alt="Химия" style="width: 50px; height: auto; margin-right: 10px; border-radius: 5px;">
    <div>
      <div>Химия</div>
      <a href="{% url 'ximia' %}" target="_blank" class="btn btn-sm btn-outline-primary mt-1">Кітапты ашу</a>
    </div>
  </div>
     </div>
<br>
  <div style="max-height: 70vh; overflow-y: auto;"> <!-- скролл жасау -->
  <div style="display: flex; align-items: center; margin-bottom: 10px;">
    <img src="https://i.pinimg.com/736x/02/68/53/02685322db903333746bfc040d3d3e71.jpg" alt="География" style="width: 50px; height: auto; margin-right: 10px; border-radius: 5px;">
    <div>
      <div>География</div>
      <a href="{% url 'geography' %}" target="_blank" class="btn btn-sm btn-outline-primary mt-1">Кітапты ашу</a>
    </div>
  </div>
       </div>
  <br>
  <div style="max-height: 70vh; overflow-y: auto;"> <!-- скролл жасау -->
    <div style="display: flex; align-items: center; margin-bottom: 10px;">
      <img src="https://i.pinimg.com/736x/c5/85/ff/c585fff6524ef47925decb0ef6c66aa0.jpg" alt="Физика" style="width: 50px; height: auto; margin-right: 10px; border-radius: 5px;">
      <div>
        <div>Физика</div>
        <a href="{% url 'fizika' %}" target="_blank" class="btn btn-sm btn-outline-primary mt-1">Кітапты ашу</a>
      </div>
    </div>
      </div>


</div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    const messagesList = document.querySelector('.messages-list');
    const messageForm = document.querySelector('.message-form');
    const messageInput = document.querySelector('.message-input');
    const messagesBox = document.getElementById('messagesBox');

    messageForm.addEventListener('submit', (event) => {
        event.preventDefault();

        const message = messageInput.value.trim();
        if (message.length === 0) {
            return;
        }

        const userMessageItem = document.createElement('li');
        userMessageItem.classList.add('message', 'sent');
        userMessageItem.innerHTML = `
            <div class="message-text">
                <div class="message-sender"><b>Сіз</b></div>
                <div class="message-content">${marked.parse(message)}</div>
            </div>
        `;

        messagesList.appendChild(userMessageItem);
        messageInput.value = '';
        messagesBox.scrollTop = messagesBox.scrollHeight;

        fetch('/chat1/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
            },
            body: JSON.stringify({ 'message': message })
        })
        .then(response => response.json())
        .then(data => {
            const botResponse = data.response;

            const botMessageItem = document.createElement('li');
            botMessageItem.classList.add('message', 'received');
            botMessageItem.innerHTML = `
                <div class="message-text">
                    <div class="message-sender"><b>Bilimall</b></div>
                    <div class="message-content">${marked.parse(botResponse)}</div>
                </div>
            `;

            messagesList.appendChild(botMessageItem);
            messagesBox.scrollTop = messagesBox.scrollHeight;
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>
{% endblock %}